<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link data-require="bootstrap@4.0.5" data-semver="4.1.3" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script data-require="bootstrap@4.0.5" data-semver="4.1.3" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script data-require="angular.js@1.6.6" data-semver="1.6.6" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="style.css" />

    <script src="app.js"></script>
    <script src="directives/default_directives.js"></script>
    <script src="directives/form_directives.js"></script>
    <script src="directives/table_directives.js"></script>
    <script src="controllers.js"></script>
    <script src="services.js"></script>
  </head>

  <body ng-app="people" ng-controller="PeopleCtrl">
    <div class="container">
      <main-title></main-title>

      <search-form></search-form>

      <div ng-show="showUpdateError">
        <div class="alert alert-warning" role="alert">{{ updateErrorMsg }}</div>
      </div>
      
      <table-header></table-header>
      <div table-content></div>
      
      <person-form></person-form>

      <button-group></button-group>
      <form id="ajaxFrom" method="post">
        <input type="file" id="ajaxFile"/>
        <input type="button" onClick="ajaxFileUpload();" value="업로드" class="btn btn-primary"/>
    </form>

      <div class="row page-row">
        <button ng-click="prePage()" class="btn btn-light btn-sm page-btn">&laquo;</button>
        <div ng-repeat="pageNum in pageNums">
          <button ng-if="pageNum != currPageNum" ng-click="movePage(pageNum)" class="btn btn-light btn-sm page-btn">{{ pageNum }}</button>
          <button ng-if="pageNum == currPageNum" ng-click="movePage(pageNum)" class="btn btn-light btn-sm page-btn active">{{ pageNum }}</button>
        </div>
        <button ng-click="nextPage()" class="btn btn-light btn-sm page-btn">&raquo</button>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    function ajaxFileUpload() {

        axios.defaults.baseURL = 'http://localhost:8000/api';

        var form = jQuery("#ajaxFrom")[0];
        var formData = new FormData(form);
        formData.append("message", "ajax로 파일 전송하기");
        formData.append("file", jQuery("#ajaxFile")[0].files[0]);

        axios.post('employees/', formData)
        .then((res) => {
          alert("파일 업로드 완료", res);
        })
        .catch(function (err) {
          console.log("CREATE FAIL", err);
        });
    }
</script>
</html>
